

/** Animated Background */
.loading {
	display: block;
	font-size: 52px;
	color: transparent;
	position: relative;
	opacity: 1;
	transition: opacity 0.5s ease-in-out;
	z-index: 2001;
}



.loading::before,
.loading::after {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 3em;
	height: 3em;
	content: ".";
	mix-blend-mode: screen;
	animation: 44s -27s move infinite ease-in-out alternate;
}

.loading::before {
	text-shadow: -0.1969537419em 0.0824587387em 7px hsla(353.0387803639, 100%, 50%, 0.9), 0.2432597734em 0.0264421374em 7px hsla(321.8183026119, 100%, 50%, 0.9), 0.7057534609em 1.0995851995em 7px hsla(142.5166888882, 100%, 50%, 0.9), 0.5360549837em -0.2634984872em 7px hsla(29.0397983767, 100%, 50%, 0.9), -0.3984147197em 1.9163791494em 7px hsla(240.492500561, 100%, 50%, 0.9), 2.4118900112em 0.2729336282em 7px hsla(315.2692659143, 100%, 50%, 0.9), 1.8193731515em 1.8523634412em 7px hsla(285.8774660346, 100%, 50%, 0.9), 2.2365147766em -0.3765396509em 7px hsla(324.7419987037, 100%, 50%, 0.9), 1.9966892806em 0.4612909731em 7px hsla(58.5109812601, 100%, 50%, 0.9), -0.2825735532em 0.5872460862em 7px hsla(15.455629424, 100%, 50%, 0.9), 1.4677053492em 0.0809166234em 7px hsla(89.3362568666, 100%, 50%, 0.9), 2.0991209129em -0.3701167423em 7px hsla(124.3159914853, 100%, 50%, 0.9), 0.9012586394em 2.3188986324em 7px hsla(81.2766299658, 100%, 50%, 0.9), -0.2697170299em 0.5642713691em 7px hsla(51.0829250196, 100%, 50%, 0.9), 0.8307447644em 1.5626333587em 7px hsla(179.4735893524, 100%, 50%, 0.9), 0.0635077949em 0.2365444099em 7px hsla(273.9630087658, 100%, 50%, 0.9), 1.2554219054em -0.4629381911em 7px hsla(255.5948697822, 100%, 50%, 0.9), -0.4367049808em 1.0681446346em 7px hsla(153.1595817089, 100%, 50%, 0.9), 1.1017091445em 0.5513375075em 7px hsla(357.4004967728, 100%, 50%, 0.9), 0.663940943em 0.3794966356em 7px hsla(243.0048544929, 100%, 50%, 0.9), 1.1334446994em 1.2504931802em 7px hsla(220.5356674144, 100%, 50%, 0.9), 0.3934006471em 1.0877251656em 7px hsla(64.1702371449, 100%, 50%, 0.9), 1.1482142747em 1.042601753em 7px hsla(164.8983683521, 100%, 50%, 0.9), 2.0335478245em -0.1831077352em 7px hsla(157.8552467247, 100%, 50%, 0.9), 0.3139278343em 1.2655678889em 7px hsla(289.7837211969, 100%, 50%, 0.9), 1.3611833245em -0.3378903757em 7px hsla(195.485448095, 100%, 50%, 0.9), 0.6246512586em 0.3123916038em 7px hsla(176.8124371693, 100%, 50%, 0.9), 0.3630706463em -0.1693179046em 7px hsla(194.9685232502, 100%, 50%, 0.9), 0.5674082528em 1.201447577em 7px hsla(345.1898394881, 100%, 50%, 0.9), 0.6974246536em 1.0989882134em 7px hsla(288.1595908179, 100%, 50%, 0.9), -0.1394569803em 0.215770698em 7px hsla(149.1132812321, 100%, 50%, 0.9), 2.4121049708em 0.379726952em 7px hsla(200.5254753992, 100%, 50%, 0.9), 0.8341742889em 0.5727883495em 7px hsla(38.5562693142, 100%, 50%, 0.9), 0.548456943em 1.3730984448em 7px hsla(307.2318983749, 100%, 50%, 0.9), 0.2754634724em 2.3276288786em 7px hsla(142.3737932947, 100%, 50%, 0.9), 0.0466788041em 0.7953060191em 7px hsla(98.4131250626, 100%, 50%, 0.9), 1.8670458382em 0.8114875163em 7px hsla(106.1772792463, 100%, 50%, 0.9), 1.548705414em 2.1032977935em 7px hsla(44.9212260403, 100%, 50%, 0.9), -0.0001510669em 0.005979819em 7px hsla(329.011340968, 100%, 50%, 0.9), 1.423357869em 0.2623735846em 7px hsla(202.8831678775, 100%, 50%, 0.9), -0.385880644em 1.9466332028em 7px hsla(172.1400820397, 100%, 50%, 0.9);
	animation-duration: 44s;
	animation-delay: -27s;
}

.loading::after {
	text-shadow: 0.3293924115em -0.0790846764em 7px hsla(59.0401539866, 100%, 50%, 0.9), 0.605073093em 2.4358703678em 7px hsla(32.7944770532, 100%, 50%, 0.9), -0.4989346521em 2.1723323883em 7px hsla(191.4224948745, 100%, 50%, 0.9), 2.3253647645em 1.2679900022em 7px hsla(338.4276834675, 100%, 50%, 0.9), 0.1960033286em 2.3621384799em 7px hsla(18.6182109555, 100%, 50%, 0.9), 0.428548829em 2.3668224979em 7px hsla(178.3232447472, 100%, 50%, 0.9), 1.8855532138em -0.1211223904em 7px hsla(1.975690121, 100%, 50%, 0.9), 1.8741182997em 0.6096654831em 7px hsla(132.1680073566, 100%, 50%, 0.9), 0.6761681089em 1.413801052em 7px hsla(332.4164272651, 100%, 50%, 0.9), 1.5336075611em 1.0886326225em 7px hsla(227.1177668943, 100%, 50%, 0.9), 1.7152151844em 1.8050596158em 7px hsla(22.3615320258, 100%, 50%, 0.9), -0.4814034252em -0.4926131757em 7px hsla(181.1740139308, 100%, 50%, 0.9), 0.1117849484em -0.3819403365em 7px hsla(156.5874188662, 100%, 50%, 0.9), 0.7955684826em 2.3064925429em 7px hsla(97.0451017552, 100%, 50%, 0.9), 1.3353359274em 0.679768469em 7px hsla(354.8365981797, 100%, 50%, 0.9), -0.4855584142em 1.2690528942em 7px hsla(66.4567589191, 100%, 50%, 0.9), 1.1886076317em 1.2963237102em 7px hsla(77.2034275054, 100%, 50%, 0.9), 0.0687326032em -0.2985474737em 7px hsla(133.1667207065, 100%, 50%, 0.9), 1.2856684363em 1.1832153631em 7px hsla(321.8579985987, 100%, 50%, 0.9), -0.214707929em 0.6111153249em 7px hsla(323.9698918194, 100%, 50%, 0.9), 0.9463671798em 1.6816119503em 7px hsla(251.6230252558, 100%, 50%, 0.9), 0.8323499469em -0.3650245245em 7px hsla(147.3636992833, 100%, 50%, 0.9), 1.3722763013em 0.7318866077em 7px hsla(233.0497309286, 100%, 50%, 0.9), 1.221418274em 1.2803422073em 7px hsla(123.6600633364, 100%, 50%, 0.9), 1.5864844723em -0.1802450015em 7px hsla(331.0736199261, 100%, 50%, 0.9), 0.4574215285em -0.4423229421em 7px hsla(36.7616834376, 100%, 50%, 0.9), 2.0220814189em 2.163288062em 7px hsla(278.1093239682, 100%, 50%, 0.9), 0.7422555562em 0.4520064578em 7px hsla(101.6326525663, 100%, 50%, 0.9), 0.250113493em 2.2514385766em 7px hsla(259.5288736459, 100%, 50%, 0.9), 2.0382432493em 2.4539102111em 7px hsla(117.1796808889, 100%, 50%, 0.9), -0.2883305289em 0.0565134633em 7px hsla(284.6149477322, 100%, 50%, 0.9), 0.0904317528em 1.1563454121em 7px hsla(221.2019548989, 100%, 50%, 0.9), 1.462290424em 0.0880278462em 7px hsla(211.143923389, 100%, 50%, 0.9), 2.4249851819em 1.6707796471em 7px hsla(355.5361062325, 100%, 50%, 0.9), 0.8963012213em -0.0286655522em 7px hsla(120.3545826467, 100%, 50%, 0.9), 0.1115104987em 0.0597835684em 7px hsla(247.137309743, 100%, 50%, 0.9), 1.4737024867em 1.4429280638em 7px hsla(259.3493432576, 100%, 50%, 0.9), -0.4144303423em 2.0319206964em 7px hsla(359.3522412905, 100%, 50%, 0.9), -0.4632186378em 0.2638125683em 7px hsla(57.833851662, 100%, 50%, 0.9), -0.1064318582em -0.2589437568em 7px hsla(137.0407675246, 100%, 50%, 0.9), -0.3389968383em 0.4978386973em 7px hsla(276.0976529719, 100%, 50%, 0.9);
	animation-duration: 43s;
	animation-delay: -32s;
}

@keyframes move {
	from {
		transform: rotate(0deg) scale(12) translateX(-20px);
	}

	to {
		transform: rotate(360deg) scale(18) translateX(20px);
	}
}



.pace {
	-webkit-pointer-events: none;
	pointer-events: none;

	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;

	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;

	-webkit-background-clip: padding-box;
	-moz-background-clip: padding;
	background-clip: padding-box;

	z-index: 2000;
	position: fixed;
	margin: auto;
	top: 12px;
	left: 0;
	right: 0;
	bottom: 0;
	width: 200px;
	height: 50px;
	overflow: hidden;
	
}

.pace .pace-progress {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;

	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;

	-webkit-background-clip: padding-box;
	-moz-background-clip: padding;
	background-clip: padding-box;

	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);

	display: block;
	position: absolute;
	right: 100%;
	margin-right: -7px;
	width: 93%;
	top: 7px;
	height: 14px;
	font-size: 12px;
	background: #cf56ea;
	color: #cf56ea;
	line-height: 60px;
	font-weight: bold;
	font-family: Helvetica, Arial, "Lucida Grande", sans-serif;

	-webkit-box-shadow: 120px 0 #fff, 240px 0 #fff;
	-ms-box-shadow: 120px 0 #fff, 240px 0 #fff;
	box-shadow: 120px 0 #fff, 240px 0 #fff;
}

.pace .pace-progress:after {
	content: attr(data-progress-text);
	display: inline-block;
	position: fixed;
	width: 45px;
	text-align: right;
	right: 0;
	padding-right: 16px;
	top: 4px;
}

.pace .pace-progress[data-progress-text="0%"]:after { right: -200px }
.pace .pace-progress[data-progress-text="1%"]:after { right: -198.14px }
.pace .pace-progress[data-progress-text="2%"]:after { right: -196.28px }
.pace .pace-progress[data-progress-text="3%"]:after { right: -194.42px }
.pace .pace-progress[data-progress-text="4%"]:after { right: -192.56px }
.pace .pace-progress[data-progress-text="5%"]:after { right: -190.7px }
.pace .pace-progress[data-progress-text="6%"]:after { right: -188.84px }
.pace .pace-progress[data-progress-text="7%"]:after { right: -186.98px }
.pace .pace-progress[data-progress-text="8%"]:after { right: -185.12px }
.pace .pace-progress[data-progress-text="9%"]:after { right: -183.26px }
.pace .pace-progress[data-progress-text="10%"]:after { right: -181.4px }
.pace .pace-progress[data-progress-text="11%"]:after { right: -179.54px }
.pace .pace-progress[data-progress-text="12%"]:after { right: -177.68px }
.pace .pace-progress[data-progress-text="13%"]:after { right: -175.82px }
.pace .pace-progress[data-progress-text="14%"]:after { right: -173.96px }
.pace .pace-progress[data-progress-text="15%"]:after { right: -172.1px }
.pace .pace-progress[data-progress-text="16%"]:after { right: -170.24px }
.pace .pace-progress[data-progress-text="17%"]:after { right: -168.38px }
.pace .pace-progress[data-progress-text="18%"]:after { right: -166.52px }
.pace .pace-progress[data-progress-text="19%"]:after { right: -164.66px }
.pace .pace-progress[data-progress-text="20%"]:after { right: -162.8px }
.pace .pace-progress[data-progress-text="21%"]:after { right: -160.94px }
.pace .pace-progress[data-progress-text="22%"]:after { right: -159.08px }
.pace .pace-progress[data-progress-text="23%"]:after { right: -157.22px }
.pace .pace-progress[data-progress-text="24%"]:after { right: -155.36px }
.pace .pace-progress[data-progress-text="25%"]:after { right: -153.5px }
.pace .pace-progress[data-progress-text="26%"]:after { right: -151.64px }
.pace .pace-progress[data-progress-text="27%"]:after { right: -149.78px }
.pace .pace-progress[data-progress-text="28%"]:after { right: -147.92px }
.pace .pace-progress[data-progress-text="29%"]:after { right: -146.06px }
.pace .pace-progress[data-progress-text="30%"]:after { right: -144.2px }
.pace .pace-progress[data-progress-text="31%"]:after { right: -142.34px }
.pace .pace-progress[data-progress-text="32%"]:after { right: -140.48px }
.pace .pace-progress[data-progress-text="33%"]:after { right: -138.62px }
.pace .pace-progress[data-progress-text="34%"]:after { right: -136.76px }
.pace .pace-progress[data-progress-text="35%"]:after { right: -134.9px }
.pace .pace-progress[data-progress-text="36%"]:after { right: -133.04px }
.pace .pace-progress[data-progress-text="37%"]:after { right: -131.18px }
.pace .pace-progress[data-progress-text="38%"]:after { right: -129.32px }
.pace .pace-progress[data-progress-text="39%"]:after { right: -127.46px }
.pace .pace-progress[data-progress-text="40%"]:after { right: -125.6px }
.pace .pace-progress[data-progress-text="41%"]:after { right: -123.74px }
.pace .pace-progress[data-progress-text="42%"]:after { right: -121.88px }
.pace .pace-progress[data-progress-text="43%"]:after { right: -120.02px }
.pace .pace-progress[data-progress-text="44%"]:after { right: -118.16px }
.pace .pace-progress[data-progress-text="45%"]:after { right: -116.3px }
.pace .pace-progress[data-progress-text="46%"]:after { right: -114.44px }
.pace .pace-progress[data-progress-text="47%"]:after { right: -112.58px }
.pace .pace-progress[data-progress-text="48%"]:after { right: -110.72px }
.pace .pace-progress[data-progress-text="49%"]:after { right: -108.86px }
.pace .pace-progress[data-progress-text="50%"]:after { right: -107px }
.pace .pace-progress[data-progress-text="51%"]:after { right: -105.14px }
.pace .pace-progress[data-progress-text="52%"]:after { right: -103.28px }
.pace .pace-progress[data-progress-text="53%"]:after { right: -101.42px }
.pace .pace-progress[data-progress-text="54%"]:after { right: -99.56px }
.pace .pace-progress[data-progress-text="55%"]:after { right: -97.7px }
.pace .pace-progress[data-progress-text="56%"]:after { right: -95.84px }
.pace .pace-progress[data-progress-text="57%"]:after { right: -93.98px }
.pace .pace-progress[data-progress-text="58%"]:after { right: -92.12px }
.pace .pace-progress[data-progress-text="59%"]:after { right: -90.26px }
.pace .pace-progress[data-progress-text="60%"]:after { right: -88.4px }
.pace .pace-progress[data-progress-text="61%"]:after { right: -86.53999999999999px }
.pace .pace-progress[data-progress-text="62%"]:after { right: -84.68px }
.pace .pace-progress[data-progress-text="63%"]:after { right: -82.82px }
.pace .pace-progress[data-progress-text="64%"]:after { right: -80.96000000000001px }
.pace .pace-progress[data-progress-text="65%"]:after { right: -79.1px }
.pace .pace-progress[data-progress-text="66%"]:after { right: -77.24px }
.pace .pace-progress[data-progress-text="67%"]:after { right: -75.38px }
.pace .pace-progress[data-progress-text="68%"]:after { right: -73.52px }
.pace .pace-progress[data-progress-text="69%"]:after { right: -71.66px }
.pace .pace-progress[data-progress-text="70%"]:after { right: -69.8px }
.pace .pace-progress[data-progress-text="71%"]:after { right: -67.94px }
.pace .pace-progress[data-progress-text="72%"]:after { right: -66.08px }
.pace .pace-progress[data-progress-text="73%"]:after { right: -64.22px }
.pace .pace-progress[data-progress-text="74%"]:after { right: -62.36px }
.pace .pace-progress[data-progress-text="75%"]:after { right: -60.5px }
.pace .pace-progress[data-progress-text="76%"]:after { right: -58.64px }
.pace .pace-progress[data-progress-text="77%"]:after { right: -56.78px }
.pace .pace-progress[data-progress-text="78%"]:after { right: -54.92px }
.pace .pace-progress[data-progress-text="79%"]:after { right: -53.06px }
.pace .pace-progress[data-progress-text="80%"]:after { right: -51.2px }
.pace .pace-progress[data-progress-text="81%"]:after { right: -49.34px }
.pace .pace-progress[data-progress-text="82%"]:after { right: -47.480000000000004px }
.pace .pace-progress[data-progress-text="83%"]:after { right: -45.62px }
.pace .pace-progress[data-progress-text="84%"]:after { right: -43.76px }
.pace .pace-progress[data-progress-text="85%"]:after { right: -41.9px }
.pace .pace-progress[data-progress-text="86%"]:after { right: -40.04px }
.pace .pace-progress[data-progress-text="87%"]:after { right: -38.18px }
.pace .pace-progress[data-progress-text="88%"]:after { right: -36.32px }
.pace .pace-progress[data-progress-text="89%"]:after { right: -34.46px }
.pace .pace-progress[data-progress-text="90%"]:after { right: -32.6px }
.pace .pace-progress[data-progress-text="91%"]:after { right: -30.740000000000002px }
.pace .pace-progress[data-progress-text="92%"]:after { right: -28.880000000000003px }
.pace .pace-progress[data-progress-text="93%"]:after { right: -27.02px }
.pace .pace-progress[data-progress-text="94%"]:after { right: -25.16px }
.pace .pace-progress[data-progress-text="95%"]:after { right: -23.3px }
.pace .pace-progress[data-progress-text="96%"]:after { right: -21.439999999999998px }
.pace .pace-progress[data-progress-text="97%"]:after { right: -19.58px }
.pace .pace-progress[data-progress-text="98%"]:after { right: -17.72px }
.pace .pace-progress[data-progress-text="99%"]:after { right: -15.86px }
.pace .pace-progress[data-progress-text="100%"]:after { right: -14px }


.pace .pace-activity {
	position: absolute;
	width: 100%;
	height: 28px;
	z-index: 2001;
	box-shadow: inset 0 0 0 2px #cf56ea, inset 0 0 0 7px #FFF;
	border-radius: 10px;
}

.pace.pace-inactive {
	display: none;
}